.file-input-area{
  margin:10px;
  padding: 100px ;
  height: auto;
  width:100%;
}

.file-input-hover{
  border: 3px dashed black;
  box-shadow: 10px 10px;
}

#fileInput{
  margin: 0 auto;
  border: 1px dashed black;
  padding: 100px;
  width: 100%;
}


#imagePreview{
  width: 100%;
  max-width: 500px;
}
