.app{
  min-height: 100vh;
}

.file-input-area{
  margin-top:10px !important;
  padding: 40px ;
  height: auto;
  width:100%;
  max-width: 850px;
  margin: 0 auto;
}

.file-input-hover{
  border: 3px dashed black !important;
  box-shadow: 10px 10px;
}

#fileInput{
  margin: 0 auto;
  border: 1px dashed black;
  padding: 100px;
  width: 100%;
}
.margin-button{
  margin-top: 10px;
}
#imagePreview{
  width: 100%;
  max-width: 500px;
  border: 1px solid grey;
}

#imagePreviewArea{
  padding: 50px;
}

.footer{
  margin-top: 40px ;
}

.white-text{
  color: white !important;
}
